USE [master]
GO
/****** Objeto: Database [GitManager] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
CREATE DATABASE [GitManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GitManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GitManager.mdf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GitManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GitManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GitManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GitManager]
GO
/****** Objeto: Table [dbo].[ASIGNACIONES_ENTRENADOR] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES_ENTRENADOR](
	[id_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_entrenador] [int] NULL,
	[fecha_inicio] [datetime] NULL,
	[fecha_fin] [datetime] NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [PK_ASIGNACIONES_ENTRENADOR] PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ASISTENCIAS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIAS](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NULL,
	[fecha_pago] [datetime] NULL,
	[monto] [decimal](10, 2) NULL,
	[metodo_pago] [varchar](50) NULL,
 CONSTRAINT [PK_ASISTENCIAS] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EJERCICIOS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJERCICIOS](
	[id_ejercicios] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[grupo_muscular] [varchar](50) NULL,
	[equipamiento] [varchar](50) NULL,
	[dificultad] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EJERCICIOS] PRIMARY KEY CLUSTERED 
(
	[id_ejercicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ENTRENADORES] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRENADORES](
	[id_entrenador] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[especialidad] [varchar](50) NULL,
 CONSTRAINT [PK_ENTRENADORES] PRIMARY KEY CLUSTERED 
(
	[id_entrenador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FACTURAS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_suscripcion] [int] NULL,
	[id_usuario] [int] NULL,
	[fecha_emision] [datetime] NULL,
	[monto_total] [decimal](10, 2) NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MEMBRESIA] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBRESIA](
	[id_membresia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NULL,
	[precio] [decimal](10, 2) NULL,
 CONSTRAINT [PK_membresia] PRIMARY KEY CLUSTERED 
(
	[id_membresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PAGOS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NULL,
	[fecha_pago] [datetime] NULL,
	[monto] [decimal](10, 2) NULL,
	[metodo_pago] [varchar](50) NULL,
 CONSTRAINT [PK_PAGOS] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RUTINA_EJERCICIOS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTINA_EJERCICIOS](
	[id_rutina_ejercicios] [int] IDENTITY(1,1) NOT NULL,
	[id_rutina] [int] NULL,
	[id_ejercicio] [int] NULL,
	[dia_semana] [varchar](50) NULL,
	[bloque] [varchar](50) NULL,
	[series] [int] NULL,
	[repeticiones] [int] NULL,
	[descanso_seg] [int] NULL,
	[peso_objetivo_kg] [decimal](10, 2) NULL,
 CONSTRAINT [PK_RUTINA_EJERCICIOS] PRIMARY KEY CLUSTERED 
(
	[id_rutina_ejercicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RUTINAS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTINAS](
	[id_rutina] [int] IDENTITY(1,1) NOT NULL,
	[id_entrenador] [int] NULL,
	[id_usuario] [int] NULL,
	[nombre_rutina] [varchar](50) NULL,
 CONSTRAINT [PK_RUTINAS] PRIMARY KEY CLUSTERED 
(
	[id_rutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SUSCRIPCIONES] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRIPCIONES](
	[id_suscripcion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_membresia] [int] NULL,
	[fecha_inicio] [datetime] NULL,
	[fecha_fin] [datetime] NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [PK_SUSCRIPCIONES] PRIMARY KEY CLUSTERED 
(
	[id_suscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIOS] Fecha de script: 27/08/2026 06:12:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[telefono] [int] NULL,
	[fecha_registro] [datetime] NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASIGNACIONES_ENTRENADOR]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACIONES_ENTRENADOR_ENTRENADORES] FOREIGN KEY([id_entrenador])
REFERENCES [dbo].[ENTRENADORES] ([id_entrenador])
GO
ALTER TABLE [dbo].[ASIGNACIONES_ENTRENADOR] CHECK CONSTRAINT [FK_ASIGNACIONES_ENTRENADOR_ENTRENADORES]
GO
ALTER TABLE [dbo].[ASIGNACIONES_ENTRENADOR]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACIONES_ENTRENADOR_RUTINA_EJERCICIOS] FOREIGN KEY([id_entrenador])
REFERENCES [dbo].[RUTINA_EJERCICIOS] ([id_rutina_ejercicios])
GO
ALTER TABLE [dbo].[ASIGNACIONES_ENTRENADOR] CHECK CONSTRAINT [FK_ASIGNACIONES_ENTRENADOR_RUTINA_EJERCICIOS]
GO
ALTER TABLE [dbo].[ASISTENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIAS_ENTRENADORES] FOREIGN KEY([id_factura])
REFERENCES [dbo].[ENTRENADORES] ([id_entrenador])
GO
ALTER TABLE [dbo].[ASISTENCIAS] CHECK CONSTRAINT [FK_ASISTENCIAS_ENTRENADORES]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_PAGOS] FOREIGN KEY([id_suscripcion])
REFERENCES [dbo].[PAGOS] ([id_pago])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_PAGOS]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_SUSCRIPCIONES1] FOREIGN KEY([id_suscripcion])
REFERENCES [dbo].[SUSCRIPCIONES] ([id_suscripcion])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_SUSCRIPCIONES1]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_ASISTENCIAS] FOREIGN KEY([id_factura])
REFERENCES [dbo].[ASISTENCIAS] ([id_pago])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_ASISTENCIAS]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIOS]  WITH CHECK ADD  CONSTRAINT [FK_RUTINA_EJERCICIOS_RUTINAS] FOREIGN KEY([id_rutina])
REFERENCES [dbo].[RUTINAS] ([id_rutina])
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIOS] CHECK CONSTRAINT [FK_RUTINA_EJERCICIOS_RUTINAS]
GO
ALTER TABLE [dbo].[RUTINAS]  WITH CHECK ADD  CONSTRAINT [FK_RUTINAS_EJERCICIOS] FOREIGN KEY([id_entrenador])
REFERENCES [dbo].[EJERCICIOS] ([id_ejercicios])
GO
ALTER TABLE [dbo].[RUTINAS] CHECK CONSTRAINT [FK_RUTINAS_EJERCICIOS]
GO
ALTER TABLE [dbo].[SUSCRIPCIONES]  WITH CHECK ADD  CONSTRAINT [FK_SUSCRIPCIONES_MEMBRESIA] FOREIGN KEY([id_membresia])
REFERENCES [dbo].[MEMBRESIA] ([id_membresia])
GO
ALTER TABLE [dbo].[SUSCRIPCIONES] CHECK CONSTRAINT [FK_SUSCRIPCIONES_MEMBRESIA]
GO
ALTER TABLE [dbo].[SUSCRIPCIONES]  WITH CHECK ADD  CONSTRAINT [FK_SUSCRIPCIONES_RUTINAS] FOREIGN KEY([id_membresia])
REFERENCES [dbo].[RUTINAS] ([id_rutina])
GO
ALTER TABLE [dbo].[SUSCRIPCIONES] CHECK CONSTRAINT [FK_SUSCRIPCIONES_RUTINAS]
GO
ALTER TABLE [dbo].[SUSCRIPCIONES]  WITH CHECK ADD  CONSTRAINT [FK_SUSCRIPCIONES_USUARIOS] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[SUSCRIPCIONES] CHECK CONSTRAINT [FK_SUSCRIPCIONES_USUARIOS]
GO
USE [master]
GO
